DATABASE_APP_URL="postgres://postgres:postgres@localhost:5432/main"
SHADOW_DATABASE_URL="postgres://postgres:postgres@localhost:5432/shadow"
EMAIL="aliakseiyarmolinforit@gmail.com"
EMAIL_PASS="nptlfitpkroheddl"
PORT=3000

#JWT
JWT_SECRET_ACCESS="12345"
JWT_SECRET_REFRESH="12345"
JWT_SECRET_CONFIRMATION_CODE="12345"
JWT_SECRET_RECOVERY_CODE="12345"

#MAIL
GMAIL_USER='linesgreenTest@gmail.com'
GMAIL_PASS='knlc evir ufry fcbr'

#JWT
JWT_LIFE_TIME_ACCESS="1800s"
JWT_LIFE_TIME_REFRESH="3600s"
JWT_LIFE_TIME_CONFIRMATION_CODE='86400s'
JWT_LIFE_TIME_RECOVERY_CODE='86400s'